# ======================
# SERVER
# ======================
PORT=


# ======================
# DATABASE (MongoDB)
# ======================
MONGODB_URI=


# ======================
# JWT (kalau nanti pakai auth)
# ======================
JWT_SECRET=


# MQTT
MQTT_URL=
MQTT_USER=
MQTT_PASS=


ADMIN_KEY=


ALLOWED_ORIGINS=


# ======================
# TELEGRAM BOT
# ======================
TELEGRAM_BOT_TOKEN=
# Admin
TELEGRAM_ADMIN_CHAT_ID=
# Buzzer untuk RT
TELEGRAM_BUZZER_CHAT_ID=


# Google API
GOOGLE_CREDENTIALS_PATH=


# Development Mode (HANYA untuk local development!)
DEV_MODE=
DEV_USERNAME=
DEV_PASSWORD=